/* reset */
$min-width: 320px; 
$max-width: 1140px;  
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.625; 
$base-font-family: 'Montserrat', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */
$color-white:#fff;
$color-dark:#211F21;
$color-red:#F1594B;
$color-red-dark:#AB3428;

$color-blue:#07EBFE;
$color-blue-2:#3FBAFE;

$color-dark-2:#475678;
$color-blue-dark:#172033;
$color-blue-light:#7685A8;

$color-gradient: linear-gradient(225.17deg, #4AB1FE 5.85%, #07EBFE 89.47%);







